body {
    font-family: Arial, sans-serif;
    margin: 0px;
}

.encabezado{
    display: grid;
    align-content: center;
    background-color: rgba(137, 252, 153, 0.759);
    height: 100px;
}




#navegacion {
    display: flex;
    justify-content: space-evenly; /* Can be changed in the live sample */
    align-items: center;
    
}

.contenido{
    max-width: 90%;
    padding-left: px;
}



.botones-cortes{
    display: flex;
    justify-content: space-around;
}


nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 250%;
}
nav ul{
    padding-inline-start: 0px;
}

main {
    margin: 20px 100px 20px 100px;
}

main div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

main h2 {
    margin-top: 0;
}





.caja-codigo {
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: auto;
    width: 50%;
    white-space: pre-wrap;

    margin-left: 5%;
    
}
pre {
    margin: 0;
}
code {
    display: block;
    padding: 16px;
    color: #ccc;
    font-size: 120%;
}